[Unit]
Description=MediaMTX RTSP Camera Stream
After=network.target

[Service]
ExecStart=/usr/local/bin/mediamtx /etc/mediamtx/mediamtx.yml
Restart=always
User=root

[Install]
WantedBy=multi-user.target